extends layout

block layout-content
  div.View
    h1.hero Covaxcdata
    div.Message
      div.Title
        span.Details Access the data segregated and predicted easily
    div.NavButtons
  
      a(href="/rawdata")
          div.NavButton Raw Data 
      a(href="/vaccination_prediction")
          div.NavButton Vaccination Prediction
      a(href="/people_prediction")
          div.NavButton People Prediction
      a(href="/default_mod")
          div.NavButton Moded Rawdata
      a(href="/default")  
          div.NavButton Default 